:root {
/*  --bslib-sidebar-main-bg: #f8f8f8; */
}
h5 {
    text-decoration: underline;
    padding-bottom: 0.5rem;
}
.dark-mode-switch {
    position: absolute;
    right: 3rem;
    color: #6c757d;
    cursor: pointer;
}

.popover-gear-icon {
    font-size: 1.1rem;
    position: absolute;
    right: 1rem;
    color: #6c757d;
    cursor: pointer;
}

.sidebar-popover-gear-icon {
    font-size: 1.1rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: #6c757d;
    cursor: pointer;
}

.popover-btn {
    width: 100%;
    margin: 0.2rem 0rem 0.2rem 0rem;
}
